/*targets screens with a maximum width of 768 pixels.*/
@media (max-width: 360px) {

  .report-form {
    position: fixed !important;
    top: 160px !important;
    right: 119px !important;
  }

  .logOut-button {
    position: fixed !important;
    right: 19px !important;
  }

  .navLink {
    background-color: rgba(230, 230, 230, 60%) !important;
    border-radius: 17px !important;
    padding: 0px !important;
    margin: 30px !important;

  }

  .navLinks {
    font-size: 2em !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;


  }

}

/*Timereportering container*/
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 30px;
  height: 100vh;
}

/*login container*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

/*Logout button*/
.logOut-button {
  font-family: "Quicksand", sans-serif;
  position: fixed;
  right: 50px;
  bottom: 38px;
  background-color: #8c3851;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logOut-button:hover {

  background-color: rgb(182, 113, 96);
}

/*Timereporting form*/
.report-form {
  position: fixed;
  top: 157px;
  height: 433px;
  width: 322px;
  padding: 10px;
  border: 17px solid #ccc;
  border-radius: 50px;
}

/*Timereporting titel*/
.title-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 34px;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Timereportering choosing box*/
.projectDropdown {
  margin-left: 60px;
}

/*Timereporting text of the choosing box*/
.projectDropdown label {
  color: black;
}

/*Timereporting submit button*/
.submit-button {
  font-family: "Quicksand", sans-serif;
  background-color: #8c3851;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 82px;
  margin-top: 34px;

}

.submit-button:hover {
  background-color: rgb(182, 113, 96);
}

/*Welcome container for the main page*/
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

}

/*The title of the welcome page*/
.welcome-title {
  font-size: 2em;
  line-height: 100px;
  text-align: center;
  height: 100px;
}

.welcome-title h3 {

  font-size: 1em;
  line-height: 25px;
  text-align: center;
}


/*Login submit button*/
.inputButton {
  font-family: "Quicksand", sans-serif;
  border: none;
  background: rgb(182, 113, 96);
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.inputButton:hover {
  color: black;

}

/*Login input container*/

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 40px;
}

.inputContainer>.errorLabel {
  color: red;
  font-size: 16px;
}

/*Login inputbox*/

.inputBox {
  font-family: "Quicksand", sans-serif;
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

/*Menu section*/
.navbar {
  display: inline;
  position: fixed;
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
}

.headerName {
  color: rgb(182, 113, 96);
  font-size: 48px;
  margin-right: 100px;
  font-weight: lighter;
  margin-left: 20px;

}

.navLinks {
  font-size: 1.8em;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;

}

.navLink {
  margin: 20px;
  text-decoration: none;
  color: black;

}

.navLink li {
  text-decoration: none;
}

.navLink:hover {
  color: rgb(182, 113, 96);
}

.projectDropdown {
  color: rgb(182, 113, 96);

}

.showHam {
  opacity: 0;


.submitUpdateButton {
  font-family: "Quicksand", sans-serif;
  background-color: #8c3851;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 82px;
  margin-top: 34px;
}

.userName {
  margin-left: -1332px;
  margin-top: 105px;
  font-size: 30px;
  color: rgb(182, 113, 96);
}