.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
}
.inputButton{
  font-family: "Quicksand", sans-serif;
  border: none;
  background: rgb(182, 113, 96);
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.inputButton:hover{
  color: black;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 16px;
}

.inputBox {
  font-family: "Quicksand", sans-serif;
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.navbar{
  display: inline;
  position: fixed;
}
.menuContainer{
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
}
.headerName{
  color: rgb(182, 113, 96);
  font-size: 48px;
  margin-right: 100px;
  font-weight: lighter;
}

.navLinks{
  font-size: 1.8em;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.navLink{
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: black;
}

.navLink:hover{
  color: rgb(182, 113, 96);
}

.projectDropdown{
  color: rgb(182, 113, 96);
  
  
}