/*Timereportering container*/
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}
.menuContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: left;
  text-decoration: none;
  background-color: rgba(182, 113, 96, 0.85); 
  z-index: 1; 
}

/*login container*/

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}
.login-input{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Logout button*/
.logOut-button {
  font-family: "Quicksand", sans-serif;
  position: fixed;
  right: 50px;
  bottom: 38px;
  background-color: rgba(182, 113, 96); 
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logOut-button:hover {
  background-color: rgb(136, 77, 64);
}

/*Timereporting form*/
.report-form, .projectContainer{
  margin: 0 auto;
  height: 55%;
  width: 30%;
  padding: 10px;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  background-color: white;
  opacity: 0.85;
}

/*Timereporting titel*/
.title-text{
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.login-text, .welcome-text{
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: lighter;
  text-align: center;

}

/*Timereporting text of the choosing box*/
.projectDropdown label {
  color: black;
}

/*Timereporting submit button*/
.submit-button {
  font-family: "Quicksand", sans-serif;
  background-color: rgba(182, 113, 96); 
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
}

.submit-button:hover {
  background-color: rgb(136, 77, 64);
}

/*Welcome container for the main page*/
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

}

/*The title of the welcome page*/
.welcome-title {
  font-size: 2em;
  line-height: 100px;
  text-align: center;
  height: 100px;
}

.welcome-title h3 {

  font-size: 1em;
  line-height: 25px;
  text-align: center;
}


/*Login submit button*/
.inputButton {
  font-family: "Quicksand", sans-serif;
  border: none;
  background: rgb(182, 113, 96);
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.inputButton:hover {
  background-color: rgb(136, 77, 64);
}

/*Login input container*/

.inputContainer, .projectInfo, .timereportInfo {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.inputContainer>.errorLabel {
  color: red;
  font-size: 16px;
}

/*Login inputbox*/

.inputBox {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 50px;
  border-radius: 10px;
}

/*Menu section*/
.navbar {
  background: #8c3851;
}

.headerName {
  color: white;
  font-size: 48px;
  margin-right: 100px;
  font-weight: lighter;
  margin-left: 20px;

}

.navLinks {
  font-size: 1.8em;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;

}

.navLink {
  margin: 20px;
  text-decoration: none;
  color: black;
}

.navLink li {
  text-decoration: none;
}

.navLink:hover {
  color:rgb(233, 174, 161);
}

.projectDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showHam {
  opacity: 0;


.submitUpdateButton {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(180, 126, 113);
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 29px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 82px;
  margin-top: 34px;
}

.userName {
  margin-left: -1332px;
  margin-top: 105px;
  font-size: 30px;
  color: rgb(136, 77, 64);
}
/*targets screens with a maximum width of 768 pixels.*/
@media screen and (max-width: 768px) {

  .report-form, .projectContainer {
    width: 80%;
  }

  .logOut-button {
    position: fixed !important;
    right: 19px !important;
  }

  /* .navLink {
    background-color: rgba(230, 230, 230, 60%) !important;
    border-radius: 17px !important;
    padding: 0px !important;
    margin: 30px !important;

  } */
}